# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# next.js
/.next/
/out/

# Ignore settings.json files
vscode/
vscode/settings.json

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore all real .env files
env/
.env
.env.local
.env.production
.env.development

# vercel
.vercel

md/

# typescript
*.tsbuildinfo
next-env.d.ts

# Seed Data
/src/seed

# Ignore the entire migrations folder temporarily
prisma/migrations/

.github/
